/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 
*
* End of CSS RESET
*
*/

body {
    font-size: 5vh;
}

/* GRID mobile layouts and sections*/
#wrapper {
    display: grid;
    grid-template-areas: 
    "mainhead"
    "main"
    "one"
    "two"
    "footer";
    height: 100vh;  
}

#mainhead {
    display: grid;
    grid-area: mainhead;
    grid-template-areas:
    "headerone"
    "mainnav";
    background-color: aquamarine;
    padding: 10px;
    border-radius: 10px;
}

#headerone {
    padding: 1vh;
    margin: 1vh 1vh 0 1vh;
    grid-area: headerone;
    background-color: aqua;
}

#mainnav{
    padding: 1vh;
    margin: 0 1vh 1vh 1vh;
    grid-area: mainnav;
    background-color: aqua;
}

#first {
    grid-area: first;
    background-color: blanchedalmond;
    display: none;
}

#second {
    grid-area: second;
    background-color: bisque;
    display: none;
}
main {
    grid-area: main;
    background-color: skyblue;
}
#one {
    grid-area: one;
    background-color: blanchedalmond;
}

#two {
    grid-area: two;
    background-color: bisque;
}
footer {
    grid-area: footer;
    background-color: teal;
}

/* Grid Desktop */
@media screen and (min-width:730px) {
    body {
        font-size: 3vh;
    }

    #wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr 2fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 2fr 2fr 4fr 4fr 1fr;
        grid-template-areas: 
        "mainhead mainhead first first first first"
        "mainhead mainhead second second second second"
        "mainhead mainhead main main main main"
        "one one main main main main"
        "one one main main main main"
        "two two main main main main"
        "footer footer footer footer footer footer";
        height: 100vh;  
    }

    #headerone {
        padding: 1vh;
        margin: 1vh 1vh 0 1vh;
        grid-area: headerone;
        background-color: aqua;
    }
    
    #mainnav{
        padding: 1vh;
        margin: 0 1vh 1vh 1vh;
        grid-area: mainnav;
        background-color: aqua;
    }

    /* Navigation Section */
     
    #first {
        grid-area: first;
        background-color: blanchedalmond;
        display: block;
    }

    ul#navifirst,
    ul#navifirst li,
    ul#navisecond li,
    section#searchbar {
        display: inline-block;
    }

    ul#navifirst li a,
    ul#navisecond li a,
    section#searchbar label,
    section#searchbar input {
        text-decoration: none;
        font-size: 0.8em;
    }

    section#searchbar {
        float: right;
    }
    
    #second {
        grid-area: second;
        background-color: bisque;
        display: block;
    }
    main {
        grid-area: main;
        background-color: skyblue;
    }
    #one {
        grid-area: one;
        background-color: blanchedalmond;
    }
    
    #two {
        grid-area: two;
        background-color: bisque;
    }
    footer {
        grid-area: footer;
        background-color: teal;
    }
}